<h1><%= title%></h1>

<form action="/users/create-session" method="POST">
    <input type="text" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Sign In</button>
</form>